body {
  background-color: black;
  color: aqua;
}

/* customizing the picture */
img {
    max-width:66%;
    max-height: auto;
    padding: .05in;
}

/* div {
  text-align: center;
}*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(188, 238, 9);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(153, 0, 224);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(153, 0, 224);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(153, 0, 224);
    color: white;
  }

  body, html {
    height: 100%;
}

#text1 {
  float:left; 
  background:black;
  width:25%;
  height:280px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 85px;
}
#picture {
  float:left; 
  background:black;
  width:50%;
  height:500px;
}
#text2 {
  float:right;
  background:black;
  width:25%;
  height:280px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
}

#text3 {
  float: right;
  background-color: black;
  width: 50%;
  height: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

#amp {
  float:left;
  background-color: black;
  width:50%;
  height: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}